<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MonitorPath" value="Enter "/>
    <add key="Path" value=""/>
    <add key="ToMail" value="enter recipients id here" />
    <add key="FromMail" value="enter your id here" />
    <add key="Host" value="smtp.gmail.com" />
    <add key="password" value="enter your password here" />
  </appSettings>
</configuration>