<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Path" value=""/>
    <add key="AryNewsUrl" value="https://arynews.tv/en/feed" />
    <add key="BolNewsUrl" value="https://www.bolnews.com/feed" />
    <add key="NewsChannelAry" value="ARY NEWS" />
    <add key="NewsChannelBol" value="BOL NEWS" />
  </appSettings>
</configuration>