<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="EmailFilesPath" value=""/>
    <add key="LogFilePath" value=""/>
    <add key="callDuration" value="2" />
    <add key="FromMail" value="enter your id here" />
    <add key="Host" value="smtp.gmail.com" />
    <add key="password" value="enter your password here" />
  </appSettings>
</configuration>